<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds" method="post" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]"
                        placeholder="enter a campground title" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]"
                        placeholder="enter a campground location" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price " placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" required>
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        placeholder="" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload images</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Campground</button>
                </div>
            </form>
            <a href="/campgrounds">Back to Campgrounds</a>
        </div>
    </div>